@font-face {
    font-family: coodi_font;
    src: url(fonts/early_times_regular.otf);
}
@font-face {
    font-family: coodi_font;
    src: url(fonts/early_times_bold.otf);
    font-weight: bold;
}

.sulu-login .media-container .media-background {background-image: url('img/background2.jpg'); background-position: left center;}

.sulu-login .media-container .media-logo, .media-logo { color: #ffffff; background: none; text-align: center; width: 100%; left: 0%; font-size: 35px; margin-left: 0px; font-family: 'Comfortaa', cursive; letter-spacing: 5px; top: 30%; font-family: coodi_font; line-height: 40px;}

.btn {border: 1px solid #fff; float: right;}

.sulu-login .content-container .content-box .content-logo {width: 100%;}

.sulu-login .content-container { background-color: #fbbf10; }
.btn.action { background-color: #E49403;}